@font-face {
    font-family: mrgvlovani;
    src: url(../fonts/bpg_mrgvlovani_2010.ttf);
}
@font-face {
    font-family: mrgvlovanicaps;
    src: url(../fonts/bpg_mrgvlovani_caps_2010.ttf);
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: mrgvlovani;
    text-align: justify;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
:root{
    --grey: #f8f8ff;
    --maintxtcolor: #010034;
    --lightblue: #0400b2;
    --lighterblue: #5f5dff;
    --greylike: #f1f1f1;
    --yellow: #ffd506;
} 


/* :root{
    --grey: #010034;
    --maintxtcolor: #f8f8ff;
    --lightblue: #f1f1f1;
    --lighterblue: #5f5dff;
    --greylike: #010044;
    --yellow: #ffd506;
} */
body{
    background-color: var(--grey);
}
h1{
    width: 150px;
    height: 30px;
    background-image: url(../img/bluelogo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -9999999px;
}
h1 a{
    display: block;
    width: 100%;
    height: 100%;
}
p, button, a, h2, h3, h4{
    color: var(--maintxtcolor);
}
header{
    /* background-color: var(--yellow); */
    padding: 30px;
    font-family: mrgvlovanicaps;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 10;

}
.notindex{
    background-color: var(--grey);
}
.aboutmain{
    padding-top: 150px;

}
header ul{
    width: 600px;
}
header ul a{
    padding: 40px 10px;
    font-size: 14px;
    color: var(--lightblue);
    font-weight: bold;
}
.socialmedia{
    width: 200px;
}
.socialmedia a{
    padding: 10px;
    color: var(--lightblue);
    font-weight: bold;
}
.socialmedia a:hover{
    color: var(--yellow);
}
.darklight{
    font-size: 30px;
    cursor: pointer;
    color: var(--lightblue);
}

.slider{
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.owl-theme .owl-nav{
    margin: 0;
    position: absolute;
    top:40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.owl-theme .owl-nav [class*=owl-]{
    font-size: 80px!important;
    color: var(--lightblue)!important;
    transition: 0.5s;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background-color: rgba(0, 0, 0, 0);
    color: var(--yellow)!important;
   
}
.reviews{
    width: 100%;
    padding: 50px;
    background-color: var(--yellow);
    font-family: mrgvlovani;
}
.owl-review-carousel{
    width: 90%;
    margin: 0 auto;
}
.reviewitem{
    /* width: 400px; */
    padding: 0 40px;
    text-align: justify;
    color: var(--lightblue);
}
.reviews h2{
    text-align: center;
    margin-bottom: 60px;
    color: var(--maintxtcolor);
}
.reviewitem p{
    color: var(--maintxtcolor);
}
.reviewitem .designline{
    width: 50%;
    height: 4px;
    background-color: var(--lightblue);
    margin: 50px 0 10px 0;
}
.courses{
    width: 100%;
    padding: 200px;
    align-items: flex-start;
}
.coursestext{
    width: 400px;
    text-align: justify;
}
.coursestext h2{
    color: var(--maintxtcolor);
}
.coursestext p{
    color: var(--lightblue);
    margin: 30px 0;
    line-height: 30px;
}
.aboutme{
    display: block;
    padding: 20px;
    border: 1px solid var(--maintxtcolor);
    color: var(--maintxtcolor);
    width: 200px;
    text-align: center;
    transition: 1s;
}
.aboutme:hover{
    cursor: pointer;
    background-color: var(--lightblue);
    color: var(--yellow);
}
.courseslist{
    width: 800px;
    flex-wrap: wrap;
}
.courseitem{
    width: 300px;
    margin-bottom: 80px;
    color:#010034
}
.courseimage{
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 20px 0;
} 
.courseimage img{
    width: 100%;
}
.courseitem p{
    font-size: 12px;
    color: var(--lightblue);
}
.btstrp{
    background-color: var(--yellow);
}
.noindexmain{
    padding: 200px;
}
.greeting, .bio, .about, .freelectures{
    padding: 0 200px;
}
.greetingtext{
    width: 300px;
    color: var(--maintxtcolor);

}
.greetingtext p{
    font-size: 14px;
    color: var(--lightblue);
    margin-top: 50px;
    line-height: 30px;
}
.greetingvideo{
    width: 500px;
    height:500px;
    overflow: hidden;
}
.greetingvideo video{
    width: 100%;
    margin-top: -100px;
}
.about{
    align-items: flex-start;
    margin: 100px auto;
}
.about h2{
    color: var(--lightblue);
}
.biotext{
    width: 500px;
}
.biotext p{
    margin-bottom: 20px;
}
.biotext ul li{
    margin: 20px 0;
    font-weight: bold;
    color: var(--maintxtcolor);
}
.biotext ul li a{
    display: block;
    font-weight: 400;
    color: var(--lightblue);
    text-decoration: underline;
    
}
.education{
    width: 500px;
    color: var(--maintxtcolor);
}
.educationitem{
    margin-bottom: 50px;
}
.educatoinline{
    width: 70%;
    height: 4px;
    background-color: var(--lightblue);
    margin-bottom: 10px;
}
.educationitem p{
    margin-top: 10px;
}
.educationitem h3{
    color: var(--lightblue);
}
.freelectures p{
    margin-bottom: 30px;
    color: var(--maintxtcolor);
}
.freelectures p:nth-child(2){
    font-size: 18px;
}
.freelectures p:nth-child(2) span{
    font-weight: bold;
    font-size: 20px;
    color: var(--maintxtcolor);
    text-shadow: 0 0 5px var(--yellow);
}
.aboutregisteroncourse{
    background-color: var(--yellow);
    padding: 100px 200px 50px 200px;
    margin: 100px 0;
}
.aboutregisteroncourse p:nth-child(1){
    font-size: 16px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    line-height: 40px;
}

.aboutregisteroncourse p:nth-child(2) a{
    display: block;
    padding: 14px;
    width: 200px;
    text-align: center;
    margin: 50px auto;
    border: 1px solid #010034;
    color: var(--maintxtcolor);
    transition: 1s;
}
.aboutregisteroncourse p:nth-child(2) a:hover{
    background-color: var(--maintxtcolor);
    color: var(--yellow);
    cursor: pointer;
}
.coursespage, .students{
    padding: 100px 0 200px 0;
    margin: 100px 0;
    background-color: var(--yellow);
    position: relative;
}
.students{
    padding: 100px 0 100px 0;
}
.coursepageh2{
    color: var(--maintxtcolor);
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 5px;
}
.coursepagep{
    color: var(--lightblue);
    text-align: center;
}
.coursespagelist{
    width: 70%;
    padding-bottom: 50px;
    position: absolute;
    top:60%;
    left: 50%;
    margin-left: -35%;
    background-color: var(--greylike);

}


/* Style the tab */
.tab{
    width: 80%;
    overflow: hidden;
    border-bottom: 1px solid var(--maintxtcolor);
    margin: 0 auto;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--yellow);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--yellow);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
  }

.tabcont{
    display: block;
}
.coursecontainer{
    width: 80%;
    margin: 30px auto;
    border: 1px solid var(--maintxtcolor);
    align-items: flex-start;
    border-radius: 20px;
    overflow: hidden;
    transition: 1s;
}
.studprojcontainer{
    width: 45%;
}
.coursecontainer:hover{
    box-shadow: 0 0 5px var(--maintxtcolor);
}

.coursecontainerimage{
    width: 50%;
    height: 300px;
    overflow: hidden;
}
.coursecontainerimage img{
    width: 100%;
}
.coursetext{
    width: 45%;
}
.coursecontainer h2{
    font-size: 16px;
    margin: 20px 20px 10px 0;
    text-align: left;
    color: var(--maintxtcolor);
    
}
.coursecontainer h2 a{
    color: var(--maintxtcolor);
}
.coursecontainer h2 a:hover{
    text-shadow: 2px 2px var(--yellow);
    text-decoration: underline;
}
.coursecontainer .price{
    margin: 50px 0;
    font-size: 20px;
    font-weight: bold;
}
.surati{
    transition: 1s;
}
.coursecontainer:hover .surati{
    transform: scale(1.1);
}
.register a{
    display: block;
    width: 90%;
    padding: 14px;
    border: 1px solid var(--maintxtcolor);
    text-align: center;
    color: var(--maintxtcolor);
    border-radius: 10px;
    transition: 1s;
}
.register a:hover{
    background-color: var(--yellow);
}
.tabcontent .groups{
    width: 80%;
    margin: 80px auto 10px auto;
}
.masterclass .price{
    font-weight: bolder;
    margin:30px 0;
    letter-spacing: 5px;
}
.studentsprojects{
    flex-wrap: wrap;
}